* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: linear-gradient(to top right, #e0d423, #ec5cd4);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.keys {
  display: flex;
  gap: 50px;
}
.tune {
  width: 70px;
  height: 70px;

  border: 3px solid #0c0500;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.08s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 60px;
}

