/* Style for eternal css */

*{
    margin: 10px;
    padding: 2px;
}
/* Style for h3 Heading */
h3.external{
    color: blueviolet;

}
p.external{
    color: rgb(32, 17, 17);
    background-color: rgb(134, 223, 138);
}

/* Style for class & ID */
.class{
    color: green;
}


#Ex1{
    color: rgb(236, 43, 72);
}

/* Div tag  */
.div1{
    background-color: lightpink;
}
.div2{
    background-color: lightpink;
}
/* Span tag  */
.span{
    background-color: lightpink;
}

/* Group Style  */
.group, .p1, .p2 , .p3{
    color: rgb(94, 49, 253);
}
h3{
    color: brown;
}